.mainBar{
  position: fixed; /* we making top nav bar fixed*/
    height: 72px; /* give him height size */
    border-bottom: 2px black solid; /* creating border */
    background-color: lightgreen; /* give him color of background*/
    width: 100%; /* give him width 100% */
    margin-bottom: 30px; /* giving him extra space on bottom outside the div */
    /*#019128*/
  
}
body{
  margin: 0; /* deleteing default margins*/
}
.mainBarN{
  position: fixed;/* we making top nav bar fixed*/
  height: 72px;/* give him height size */
  border-bottom: 2px black solid;/* creating border */
  background-color: #019128;/* give him color of background*/
  margin-bottom: 30px; /* giving him extra space on bottom outside the div */
}
.logo{
    width: 80px; /* giving him size width 80px*/
    height: 70px;/* giving him size height 70px*/

}
.save{
    font-family: "Lora", serif;/* giving him font style */
    font-size: x-large; /* adding font size */
    color: blue; /* adding font color*/
    margin-left: 120px; /* margin from left  */
    margin-top: -65px; /* margin from top */
}
.nature{
    font-family: "Lora", serif;/* giving him font style */
    font-size: x-large;/* adding font size */
    color: green;/* adding font color*/
    margin-left: 150px;/* margin from left  */
    margin-top: -12px;/* margin from top */
}
.natureN{
  font-family: "Lora", serif;/* giving him font style */
  font-size: x-large;/* adding font size */
  color: lightgreen;/* adding font color*/
  margin-left: 150px;/* margin from left  */
  margin-top: -12px;/* margin from top */
}
.lines{
    width: 40px;/* give him width size */
    height: 40px;/* give him height size */

}
#linesButton{
  display: block;/* make element displayed as block */
  margin-left: auto;/* moveing him to the right  */
  margin-right: 5px;/* moveing him back to left */
  margin-top: -3%;/* moveing him to the top */
}
/* The side navigation menu (from w3school) */
.sidenav {
    height: 90%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    border-right: black solid 2px;
    margin-top: 73.5px;
    background-color: lightgreen; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }
 .sidenavN { /* all classes with N in the end added by me to create a Night Mode*/
  height: 90%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  border-right: black solid 2px;
  margin-top: 73.5px;
  background-color: #019128; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: blue;
  }
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* end of w3school code */
.mainn {
    background-color: rgb(220, 221, 220); /* giving main div background color */
    transition: margin-left .5s; /* 5 second transition effect to slide in the sidenav */
    padding-left: 1%; /* inside extra space from the left */
    padding-top: 50px; /* inside extra space from the top */
    padding-bottom: 15%; /* inside extra space from the bottom */
  }
.nM{
    font-family: "Lora", serif;/* giving him font style */
    border: none; /* delete border */ 
    background-color: lightgreen; /* add background color */
    font-size: 25px; /* giving font size */
    color: black; /* add font color */
    display: block; /* displaying content as block  */
    margin-left: auto; /* moving to the right  */
    margin-right: 65px; /* moving back to the left */
    margin-top: -45px; /* moving to the top */
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */
  }
 .nMN{
    font-family: "Lora", serif;/* giving him font style */
    border: none;/* delete all borders */
    background-color:#019128 ;/* adding background color */
    font-size: 25px; /* making font size */
    color: black; /* making font color black */
    display: block; /* dispaying elemnts as a block */
    margin-left: auto; /* moving it to the right */
    margin-right: 65px; /* moivng it back to the right a litle bit */
    margin-top: -45px; /* moving it to the top */
    transition: 0.3s;/* 0.3 second transition effect to slide in the sidenav */
  }
.dark-mode{
    background-color: rgb(0,0,0,0.4); /* adding background color */ 
  }
.cE{
  width: 45%; /* making width of the element */
  background-color: lightgreen;/* making background color */
  border: black 2px solid; /* adding border  */
  padding: 0.5%; /* adding inside extra space */
  margin-top: -30.5%; /* moving element to the top */
}

.cEN{
  width: 45%; /* give him width size */
  background-color: #019128; /* give him color of background*/
  border: black 2px solid; /* creating border */
  padding: 0.5%; /* adding inside extra space */
  margin-top: -30.5%; /* moving element to the top */
}
.cET{
  margin-top: 20px; /* moving element to the bottom for 20px */
}
.cETM{
  font-weight: bold; /* making font bold */
  font-size: 17px; /* adding font size */
}
.imgCE{
  width: 100%; /* making width 100%*/
  height: 100%; /* making height 100% */
}
.cEImg{/**/
  margin-left: 47%; /* margin from left  */
  margin-top: 50px; /* margin from top */
  width: 50%; /* making width 50% */
  background-color: lightgreen; /* making background color */
  border: black 2px solid; /* create a border */
  padding: 0.5%; /* adding inside extra space */

}
.cEImgN{
  margin-left: 47%; /* margin from left  */
  margin-top: 50px; /* margin from top */
  width: 50%; /* making width 50% */
  background-color: #019128; /* making background color */
  border: black 2px solid; /* create a border */
  padding: 0.5%; /* adding inside extra space */

}
.fL{
  color: black;
  text-decoration: none
}
.imgSP{
  width: 100%;
  height: 100%;
  
}
.dImgSP{
 
  width: 50%;
  height: 430px;
  margin-left: 45%;
  margin-top: 20px;
  padding: 10px;

}
.dImgWE{
 
  width: 50%;
  height: 430px;
  margin-left: 45%;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 40px;

}
.dImgTID{
  width: 50%;
  height: 430px;
  margin-left: 45%;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 90px;

}

.SED{
  padding: 0.5%; /* adding inside extra space */
  padding-bottom: 120px;
  background-color: lightgreen; /* making background color */
  border: black 2px solid; /* create a border */
  margin-top: 5%;
  width: 96%;
  
}
.SEDL{
  padding: 0.5%; /* adding inside extra space */
  padding-bottom: 120px;
  background-color: lightgreen; /* making background color */
  border: black 2px solid; /* create a border */
  margin-top: 2%;
  width: 96%;
  
}
.SEDN{
  padding: 0.5%; /* adding inside extra space */
  padding-bottom: 120px;
  background-color: #019128; /* making background color */
  border: black 2px solid; /* create a border */
  margin-top: 5%;
  width: 96%;
  
}
.SEDNL{
  padding: 0.5%; /* adding inside extra space */
  padding-bottom: 120px;
  background-color: #019128; /* making background color */
  border: black 2px solid; /* create a border */
  margin-top: 2%;
  width: 96%;
  
}
.SLETXT{
  font-size: 17px;
  display: block;
  width: 100%;
}
.SEB{
  font-size: 22px;
}
.DSLETXT{
  width: 40%;
  margin-top: -30%;
  margin-left: 1%;
}

@media screen and (max-height: 375px) { /* make some different style for phone */
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenav {margin-top: 4.9%;}
  .sidenavN {margin-top: 4.9%;}
  .save {
    margin-left: 70px;
    font-size: medium;
  }
  .nature {
    font-size: medium;
    margin-top: -7px;
    margin-left: 85px;
  }
  .natureN {
    font-size: medium;
    margin-top: -7px;
  }
  #linesButton{
    margin-top: -35px;
  }
  .sidenav{
    margin-right: 10px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  /* CSS */
}
@media (max-width: 950px) { /* make some different style for phone */
.logo{
  width: 60px;
  height: 50px;
}
.mainBar{
  padding-top: 6px;
  height: 55px;
}
.nM{
  margin-top: -35px;
  font-size: 20px;
}
.save{
  margin-left: 70px;
  margin-top: -47px;
  font-size: medium;
}
.nature{
  margin-left: 85px;
  font-size: medium;
  margin-top: -7px;
}
.lines{
  width: 27px;
  height: 27px;
}
.sidenav{
  margin-top: 62.6px;
}
.cETM{
  font-size: small;
}
.cETL{
  font-size: small;
}
.cET{
  font-size: small;
}
#linesButton{
  margin-top: -25px;
  
}
.sidenav{
  margin-right: 10px;
}
.cE{
  margin-top: 10px;
  width: 98%;
}
.cEImg{
  width: 98%;
  margin-left: 0;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
}
.imgSP{
  width: 100%;
  height: 100%;
}
.SLETXT{
  font-size: medium;
  display: block;
  width: 100%;
}
.DSLETXT{
  width: 90%;
  margin-top: 0%;
  margin-left: 10px;
}
.dImgSP{
  margin-left: 0;
  width: 90%;
  height: 400px;
  margin-top: 5px;
  padding: 10px;

}
.dImgWE{
  margin-left: 0;
  width: 90%;
  height: 400px;
  margin-top: 10px;
  padding: 10px;

}
.dImgTID{
  margin-left: 0;
  width: 90%;
  height: 400px;
  margin-top: 10px;
  padding: 10px;

}
}
@media (min-width: 950px ) and (max-width: 1290px) { /* make some different style for tablet */
.logo{
  width: 60px;
  height: 50px;
}
.mainBar{
  padding-top: 6px;
  height: 55px;
}
.nM{
  margin-top: -35px;
  font-size: 20px;
}
.save{
  margin-left: 70px;
  margin-top: -47px;
  font-size: large;
}
.nature{
  margin-left: 85px;
  font-size: large;
  margin-top: -7px;
}
.lines{
  width: 27px;
  height: 27px;
}
.sidenav{
  margin-top: 62.6px;
}
.cETM{
  font-size: medium;
}
.cETL{
  font-size: medium;
}
.cET{
  font-size: medium;
}
#linesButton{
  margin-top: -35px;
  
}
.sidenav{
  margin-right: 10px;
}
.cE{
margin-top: -30.5%;
}
.imgSP{
  width: 100%;
  height: 100%;
}
.SLETXT{
  font-size: medium;
  display: block;
  width: 100%;
}
.DSLETXT{
  width: 40%;
  margin-top: -30%;
  margin-left: 1%;
}
.dImgSP{
 
  width: 50%;
  height: 430px;
  margin-left: 45%;
  margin-top: 20px;
  padding: 10px;

}
}
@media (min-width: 1000px ) and (max-width: 1120px) {  /* make some different style for tablet */
  .logo{
    width: 60px;
    height: 50px;
  }
  .mainBar{
    padding-top: 6px;
    height: 55px;
  }
  .nM{
    margin-top: -35px;
    font-size: 20px;
  }
  .save{
    margin-left: 70px;
    margin-top: -47px;
    font-size: large;
  }
  .nature{
    margin-left: 85px;
    font-size: large;
    margin-top: -7px;
  }
  .lines{
    width: 27px;
    height: 27px;
  }
  .sidenav{
    margin-top: 62.6px;
  }
  .cETM{
    font-size: medium;
  }
  .cETL{
    font-size: medium;
  }
  .cET{
    font-size: medium;
  }
  #linesButton{
    margin-top: -35px;
    
  }
  .sidenav{
    margin-right: 10px;
  }
  .cE{
  margin-top: -30.5%;
  }
  .imgSP{
    width: 100%;
    height: 100%;
  }
  .SLETXT{
    font-size: medium;
    display: block;
    width: 100%;
  }
  .dImgSP{
 
    width: 50%;
    height: 430px;
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px;
  
  }
  .DSLETXT{
    width: 40%;
    margin-top: -42%;
    margin-left: 1%;
  }
  }
  /* End of Roman's CSS*/
  /* Start of Scott's CSS*/
  .dImgS{
    width: 40%;
    height: 450px;
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px;
  
  
  
  }
  .dImgSS{
    width: 40%;
    height: 450px;
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px;
  
  
  
  }
  .imgS{
    width: 100%;
    height: 100%;
  }

  .CA1{
    padding: 0.5%;
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }

  .CCA1{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA1N{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: #019128; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA2{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA2N{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: #019128; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA3{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA3N{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: #019128; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA4{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA4N{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: #019128; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA5{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: lightgreen; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }
  .CCA5N{
    padding: 0.5%; 
    padding-bottom: 120px;
    background-color: #019128; 
    border: black 2px solid; 
    margin-top: 30px;
    width: 96%;
    margin-bottom: 50px;
  }

  .location{  /* to change the position of the google maps */
    position: relative;
  }
  
  .locationn{   /* to change the position of the google maps*/
    position: absolute;
    left: 600px;
    top: -580px;
  }

  @media (max-width: 950px) { /* code to make it responsive on phone*/

  .CA1{
    width: 60%;
    margin-left: 0;
  }

  .CCA2{
    width: 98%;
    margin-left: 0;
  }
  .CCA3{
    width: 98%;
    margin-left: 0;
  }

  .CCA4{
    width: 98%;
    margin-left: 0;
  }

  .CCA5{
    width: 98%;
    margin-left: 0;
  }
  .dImgSS{
    width: 10%;
    height: 450px;
    margin-left: 45%;
    margin-top: 20px;
    padding: 10px;
  }


}

@media (min-width: 950px ) and (max-width: 1290px) { /* code to make it responsive on tablets*/
  .CA1{
    width: 98%;
    margin-left: 0;
  }

  .CCA2{
    width: 98%;
    margin-left: 0;
  }
  .CCA3{
    width: 98%;
    margin-left: 0;
  }

  .CCA4{
    width: 98%;
    margin-left: 0;
  }

  .CCA5{
    width: 98%;
    margin-left: 0;
  }
  .dImgSS{
    width: 40%;
    height: 450px;
    margin-left: 45%;
    margin-top: 15px;
    padding: 10px;
  }

}